body{
    background-color: #888;
}
h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
p{
    text-align: center;   
}
.image_placeholder{
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}

.image_placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}