.layout {
    margin-left: -16px;
    font-size: 0;
  }
.layout__item {
    padding-left: 16px;
    padding-bottom: 16px;
    display: inline-block;
    width: 100%;
}
.grid {
    max-width: 1200px;
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
@media screen and (min-width: 700px) {
    .layout__item {
        width: 50%;
    }
    .grid { grid-template-columns: repeat(2, 1fr); 
    }
  }
  @media screen and (min-width: 1200px) {
    .layout__item {
        width: 25%;
    }
    .grid { grid-template-columns: repeat(4, 1fr); 
    }
  }

