html {
    scroll-behavior: smooth;
  }
body{
    background-color: #888;
    margin: auto;
    width: 100%;
    border: 5px solid #1b1b0c;
    padding: 35px;
    text-align: center;
    color: rgb(55, 255, 29);
    text-shadow: 2px 1px rgb(73, 58, 39);
    width: 350px;
    box-shadow: 2px 1px 1px 1px rgb(40, 40, 58);
}

.div{
    background-color: #888;
    margin: auto;
    width: 100%;
    border: 5px solid #1b1b0c;
    padding: 5px;
    text-align: center;
     box-shadow: 2px 1px 1px 1px rgb(60, 60, 109);
}
#fname{
    background-color: #dcdcdc;
}  
.btn{
    float: right;
}
input{
    box-shadow: 1px 1px 1px 1px rgb(72, 72, 75);
}