body {
  background: #484848;
  color: #dcdcdc;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
  color: #dcdcdc;
  text-shadow: 3px 2px #222222;
}

.masthead {
  padding: 6em 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #ffcf33;
}

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /* Typography Declarations */
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.masthead-heading {
  /* Layout Declarations */
  color: #484848;
  margin-top: -0.2em;
  /* Typography Declarations */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  /* Layout */
  margin: 2em 0 1em 0;
}

section > h1 {
  margin-top: 2em;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  margin-top: 60px;
  background-position: center center;
  padding: 6em 0;
  background-image: url("Images/MebannerWide.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #222222;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #dcdcdc;
  text-shadow: 4px 3px #222222;
}
.introduction > p,
.location > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}
h2 {
  /* Typography Declarations */
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #888;
  text-decoration: none;
}
.content-footer > p {
  color: #f7ede1;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #484848;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .content-footer {
    padding: 2em 2.5em;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
  border-color: blue;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(199, 193, 193);
  border-radius: 5px;
  z-index: -1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 5px;
  z-index: -1 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(59, 58, 58);
}
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000000 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #524d4d transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #000000 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #524d4d transparent transparent transparent;
}
/* test */
/* navbar */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
.header {
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  margin-left: 0px;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: rgb(104, 104, 104);
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  z-index: 99;
  top: 0px;
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #5e5d5d;
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color: #202020;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: #484848;
}
.sidebarMenuInner #topLi {
  pointer-events: none;
}
.sidebarMenuInner li a {
  color: #dcdcdc;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.sidebarMenuInner li a:hover {
  color: #484848;
  transition: all 1s;
}
.sidebarMenuInner li a:not(:hover) {
  color: #dcdcdc;
  transition: all 1s;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #dcdcdc;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
#center {
  height: 0px;
}

.dropdown {
  overflow: auto;
  min-width: 250px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #888;
  min-width: 218px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  cursor: pointer;
  display: block;
  transition: all 0.1s;
}

.pText {
  color: red;
}

#Section {
  padding-top: 4rem;
  width: 40%;
  margin: auto;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}
details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #dcdcdc;
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  list-style: none;
}
details summary::after {
  content: "+";
  color: #dcdcdc;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 400;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary::after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 1rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}
details h1 {
  font-size: 1.4rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  overflow: hidden;
}

.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #484848;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #888;
  -webkit-animation: spin-reverse 0.6s linear infinite;
  animation: spin-reverse 0.6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #dcdcdc;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

#cookiePopup {
  color: #000000;
  position: absolute;
  background-color: #dcdcdc;
  width: 350px;
  height: 250px;
}

#cookiePopup button {
  background-color: green;
  border: none;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 1.4em;
}

.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}

.show {
  position: relative;
  bottom: 20px;
  visibility: visible;
  bottom: 2em;
  right: 2em;
}

/* skill progress */

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.skill-container {
  display: flex;
}

.container > h1 {
  text-align: center;
}

.bar {
  background-color: rgba(220, 220, 220, 0.678);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 7px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
  content: attr(data-skill);
  background-color: #c07340;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.html::before {
  width: calc(95% - 10px);
  background-color: #c07340;
}

.bar.css::before {
  width: calc(90% - 10px);
  background-color: #3390b0;
}

.bar.js::before {
  width: calc(85% - 10px);
  background-color: #cecb42;
}

.bar.scss::before {
  width: calc(80% - 10px);
  background-color: #b13a62;
}

.bar.react::before {
  width: calc(79% - 10px);
  background-color: #06adc3;
}

.bar.vue::before {
  width: calc(70% - 10px);
  background-color: #3fb27f;
}

.bar.cS::before {
  width: calc(60% - 10px);
  background-color: #86ce82;
}

.bar.python::before {
  width: calc(30% - 10px);
  background-color: #4d90ad;
}

.bar.python-flask::before {
  width: calc(40% - 10px);
  background-color: #4d90ad;
}

.bar.php::before {
  width: calc(20% - 10px);
  background-color: #a074c4;
}

.bar.unity::before {
  width: calc(45% - 10px);
  background-color: #7c7c7c;
}

.bar.ue5::before {
  width: calc(25% - 10px);
  background-color: #0b235b;
}

/* Soft skills */
.line {
  width: 800px;
  margin: 50px auto 0;
  border-top: 1px solid #dcdcdc;
}

.skill-details > summary {
  position: relative !important;
  text-align: center !important;
  border-top: unset !important;
}

.skill-details > summary::after {
  position: absolute !important;
  right: 360px !important; /* Adjust this value as needed */
  top: 0 !important;
}

.bar.coms::before {
  width: calc(90% - 10px);
  background-color: #f14b4b;
}

.bar.crea::before {
  width: calc(95% - 10px);
  background-color: #33b03d;
}

.bar.adapt::before {
  width: calc(85% - 10px);
  background-color: #edeb71;
}

.bar.patience::before {
  width: calc(97% - 10px);
  background-color: #6eb0d1;
}

.bar.time::before {
  width: calc(90% - 10px);
  background-color: #e617c7;
}

.bar.collab::before {
  width: calc(80% - 10px);
  background-color: #67b391;
}

.bar.lead::before {
  width: calc(65% - 10px);
  background-color: #8d41d9;
}

.bar.problems::before {
  width: calc(70% - 10px);
  background-color: #26c73b;
}

.bar.learning::before {
  width: calc(85% - 10px);
  background-color: #691b1b;
}

/* Change the position of the dropdown content to the right */
#projects-dropdown {
  position: relative;
}

#projects-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Position the dropdown to the right */
  left: 250px; /* Adjust this value as needed */
  top: 0;
}

#projects-dropdown:hover .dropdown-content {
  display: block;
}

/* Updated styles for the project cards */
.project-card {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #ddd;
  margin: 10px 2px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: #333;
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - 20px);
  left: 15px;
  overflow: hidden;
}

.project-container {
  max-height: 500px; /* Adjust this height as needed */
  overflow-y: auto;
}
